body {
  font-family: Arial, sans-serif; /* Define a fonte padrão como Arial ou sans-serif */
  background-color: #f4f4f4; /* Define a cor de fundo da página */
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
  display: flex; /* Usa flexbox para layout */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 100vh; /* Define a altura da página como 100% da altura da janela */
}

.container {
  background-color: #ffffff; /* Define a cor de fundo do contêiner */
  padding: 20px; /* Adiciona padding interno ao contêiner */
  border-radius: 8px; /* Arredonda os cantos do contêiner */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao redor do contêiner */
  width: 700px; /* Define a largura do contêiner */
  text-align: center; /* Centraliza o texto dentro do contêiner */
}

#lb-phone {
  padding-left: 8px;
}

#inp-name {
  margin-right: 70px;
  
}

#inp-phone {
  margin-right: 8px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  margin-bottom: 20px;
}

button {
  padding: 10px; /* Adiciona padding interno ao botão */
  background-color: #007BFF; /* Define a cor de fundo do botão */
  color: #ffffff; /* Define a cor do texto do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 4px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  font-size: 16px; /* Define o tamanho da fonte do botão */
  margin-left: 23px; /* Define margem a direita do botão */
}

button:hover {
  background-color: #0056b3; /* Muda a cor de fundo do botão quando o cursor passa sobre ele */
}