body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  text-align: center;
}

#lb-phone {
  padding-left: 8px;
}

#inp-name {
  margin-right: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 85px;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    width: 70%; /* Ajusta a largura para caber melhor em telas menores */
    padding: 15px;
  }

  form {
    display: flex;
    flex-direction: column; /* Organiza os campos em coluna para melhor visualização em telas pequenas */
  }

  #inp-name, #inp-phone {
    margin-right: 0; /* Remove o espaçamento direito dos inputs */
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre os campos */
  }

  button {
    margin-left: 0; /* Remove a margem esquerda para centralizar o botão */
  }

  h2 {
    font-size: 1.5em; /* Reduz o tamanho da fonte para cabeçalhos em telas menores */
  }

  table, th, td {
    font-size: 14px; /* Ajusta o tamanho da fonte da tabela */
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2em; /* Reduz ainda mais o tamanho do cabeçalho em telas menores */
  }

  button {
    padding: 8px; /* Ajusta o tamanho do botão para caber em telas pequenas */
    font-size: 14px;
  }

  th, td {
    padding: 6px; /* Ajusta o espaçamento das células da tabela */
  }
}
