* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > header {
  background-color: #0078ff;
  padding: 16px 0;
  color: #ffff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li  {
  display: inline;
  font-weight: bold;
  margin-left: 16px;
}

header li a {
  color: #ffff;
  text-decoration: none;
}

.container {
  width: 1366px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container .text {
  margin-bottom: 16%;
  margin-left: 20px; /* Espaçamento entre a imagem e o texto */
  max-width: 60%; /* O texto ocupará o restante do espaço */
}

/* Sessão Conteúdos */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.text-conteudo h2 {
  margin-left: 10%;
  margin-right: 10%;
}

.hrConteudo {
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 0.5px solid #0078ff;
}

.hrSobre {
  max-width: 95%;
  margin-bottom: 32px;
  border-bottom: 0.5px solid #0078ff;
}

.sobre, .text {
  max-width: 95%;
}

.text {
margin-top: 64px;
}

h2 {
  color: #0078ff;
}

button {
  width: 300px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #0078ff;
  cursor: pointer;
  
}

.card {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card-text {
  margin: 0;
  color: #555;
}
/* Fim Sessão Conteúdos */

section {
  padding: 32px 0;
}

section h2 {
  margin-bottom: 16px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin-right: 5em;
  margin-left: -4em;
  text-decoration: none;   

}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*Estilo Footer*/
footer {
  background-color: #0078ff;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  margin-top: 64px;
}