* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea {
  font-family: "Roboto", system-ui;
}

header {
  padding: 16px 0;
  background-color: #0000ff;
  color: #fff;
}

.nav-links, .menu-toggle, header, section h2, section h3, h1, form button {
  font-family: "Bungee", system-ui;
  font-weight: normal;
}

header nav li {
  /*display: inline-block;*/
  display: flex;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  color: #fff;
  text-decoration: none;
  
}

header .container, section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .container {
  flex-wrap: nowrap;
  gap: 16px;
}

section {
  padding: 24px 0;
  color: #000000b9;
}

.social-media, .visit-br{
  margin-bottom: auto;
  margin-top: 46px;
}

section h2 {
  margin-bottom:16px;
  color: #0000ff;
}

section h3 {
  margin-bottom: 16px;
}

section p {
  margin-bottom: 16px;
}

section .itens {
  display: flex;
  gap: 16px;
}

.social-links img {
  height: 24px;
}

.social-links li {
  display: inline;
  margin-right: 8px;
}

.social-links li a {
  text-decoration: none;
}

section .container {
  flex-wrap: wrap;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

.container h1, nav {
  margin: 8px;
  font-size: 24px;
}

.itens img {
  height: 150px;
}

.itens li {
  display: inline-block;
  list-style: none;
}

.loja-img {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 40%;
  margin-left: 16px;
}

.loja-img::before {
  content: url('https://encurtador.com.br/zYkPK');
}

.texto {
  max-width: 55%;
}

textarea {
  resize: none;
  height: 100px;
}

form input, form textarea, form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
.contact-methods, .loja-img, .social-media, .visit-br, .itens, .navbar, .nav-links, .logo, img {
    max-width: 100%;
    margin-bottom: 16px;
    margin: auto;
    padding: auto;
  }

  .texto {
    max-width: 100%;
    margin: 16px;
  }

  .visit-br p {
    padding-left: 8px;
    padding-right: 8px;
  }

  .contact-methods {
    display: flex;
    text-align: center;

  }

  .container h3, h2, p, ul{
    text-align: center;
  }

}

/* Botão padrão */
form button {
  background-color: #0000ff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efeito de hover */
form button:hover {
  background-color: #3c60ff;
}

input:focus, textarea:focus {
  outline-color: #3c60ff;
}

footer {
  background-color: #0000ff;
  color: #fff;
  padding: 16px 0;
  text-align: center;
}

/* Teste */
.navbar, .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
  padding: auto;
}

.menu-toggle {
  padding-right: 24px;
  display: none;
  font-size: 24px;
  cursor: pointer;

  
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px; /* Altura da navbar */
      left: 0;
      background-color: #0000ff;
      width: 100%;
  }

  .nav-links.active {
      display: flex;
      
  }

  .nav-links li {
      margin: 0;
      padding: 8px;
      text-align: center;
  }

  .menu-toggle {
      display: block;

      color: #fff;
      border: none;
  }

  .logo {
    padding-left: 115px;
  

  }
}

.nav-links {
  padding-right: 10px;
}

