* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui;
}

header {
  padding: 16px 0;
  background-color: #0000ff;
  color: #fff;
}

header, section h2 {
  font-family: "Bungee", system-ui;
}

header nav li {
  display: inline-block;
  margin-left: 16px;
  font-size: 24px;
}

header nav li a {
  color: #fff;
  text-decoration: none;
}

header .container, section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .container {
  flex-wrap: nowrap; /* Evitar que os elementos quebrem a linha */
  gap: 16px; /* Espaçamento entre os elementos */
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 16px;
}

section p {
  margin-bottom: 16px;
}

section .itens {
  display: flex;
  gap: 16px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.itens img {
  height: 150px;
}

.itens li {
  display: inline-block;
  list-style: none;
}

.loja-img {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 40%; /* Ajuste a largura da imagem para torná-la mais responsiva */
}

.texto {
  max-width: 55%; /* Ajuste a largura do texto conforme necessário */
}
