/* Estilização do body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilização do container */
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Estilização da tag h1 */
h1 {
  color: #333333;
  margin-bottom: 10px;
}

/* Estilização da tag h2 */
h2 {
  color: #555555;
  margin-bottom: 20px;
}

/* Estilização do formulário */
form {
  display: flex;
  flex-direction: column;
}

/* Estilização do input textarea */
input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* Estilização do focus input textarea */
input:focus, textarea:focus {
  border-color: #007BFF;
  outline: none;
}

/* Estilização do button depositar */
button {
  padding: 10px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilização de efeito do button depositar */
button:hover {
  background-color: #0056b3;
}

/* Estilização de mensagem de sucesso */
.success-message {
  padding: 10px;
  background-color: #28a745;
  border-radius: 4px;
  color: #ffffff;
  display: none;
}

/* Estilização de mensagem de erro */
.error-message {
  padding: 10px;
  background-color: #ff0000;
  border-radius: 4px;
  color: #ffffff;
  margin-top: -1px;
  margin-bottom: 15px;
  font-size: 12px;
  display: none;
}
