* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > header {
  background-color: #0078ff;
  padding: 16px 0;
  color: #ffff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li  {
  display: inline;
  font-weight: bold;
  margin-left: 16px;
}

header li a {
  color: #ffff;
  text-decoration: none;
}

.container {
 width: 1366px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container .text {
  margin-bottom: 16%;
  margin-left: 20px; /* Espaçamento entre a imagem e o texto */
  max-width: 60%; /* O texto ocupará o restante do espaço */
}

/* Sessão Conteúdos */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.text-conteudo h2 {
  margin-left: 10%;
  margin-right: 10%;
}

.hrConteudo {
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 0.5px solid #0078ff;
  transform: scaleY(0.5);
}

.hrSobre {
  margin-bottom: 5%;
  margin-right: 5%;
  border-bottom: 0.5px solid #0078ff;
  transform: scaleY(0.5);
}

#imgLoja {
  margin-top: -8%;
}

.sobre  {
  
  margin-right: 5%;
}

.text {
margin-top: 40px;
color: #555;
}

h2 {
  color: #0078ff;
}

button {
  width: 300px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #0078ff;
  cursor: pointer;
  
}

.card {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card-text {
  margin: 0;
  color: #555;
}
/* Fim Sessão Conteúdos */

section {
  padding: 32px 0;
}

section h2 {
  margin-bottom: 16px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin-right: 5em;
  margin-left: -4em;
  text-decoration: none;   
  font-weight: bold;
}

.navbar a:hover {
  background-color: #fff;
  color: #0078ff;
}

/*Estilo Footer*/
footer {
  background-color: #0078ff;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  margin-top: 64px;
}

/* RESPONSIVIDADE */

/* Para dispositivos móveis (largura máxima de 640px) */
@media only screen and (max-width: 640px) {
  
  header .container {
    flex-direction: column;
    text-align: center;
}

  /* Navbar geral */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin-right: 1em; /* Reduzindo o espaçamento */
  margin-left: 1em;  /* Removendo margem negativa */
  text-decoration: none;   
  font-weight: bold;
}

  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    padding: 0 20px;
  }

  .card-container {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
  }

  .text {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Para tablets (largura máxima de 1024px) */
@media only screen and (max-width: 1024px) {

  header .container {
    flex-direction: column;
    text-align: center;
  }

  /* Navbar geral */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin-right: 1em; /* Reduzindo o espaçamento */
  margin-left: 1em;  /* Removendo margem negativa */
  text-decoration: none;   
  font-weight: bold;
}

  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    padding: 0 20px;
  }

  .card-container {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    margin-bottom: 20px;
  }

  #sobre .text {
    max-width: 100%;
    margin-left: 8%;
    margin-right: 8%;
  }


  #imgLoja {
    width: 85%;
    margin-top: -3%;
    
  }
  
  .text {
  margin-top: 80px;
  }

  #produtos {
    margin-top: -40px;
  }
}