@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';


header {
  background-color: variaveis.$corPrincipal;
}

body {
  background-color: variaveis.$corBgBody;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: variaveis.$corPrincipal;
  position: sticky;
  top: 0;
  left: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.menu {
  display: flex;
}

.menu li {
  font-weight: bold;
  margin-left: 24px;
}

.menu li a {
  color: variaveis.$corColor;
  text-decoration: none;
}

.logo {
    width: 40px; /* Define a largura */
     /* Define a altura */
}

section {
  padding: 56px 0;
}

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;
}

.product-item img {
  width: 100%;
  border-radius: 16px;
}

.product-button {
  display: block;
  background-color: variaveis.$corPrincipal;
  color: variaveis.$corColor;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);    // aumenta o tamanho do botão ligeiramente
    background-color: variaveis.$corSecundaria; // cor do botão ao passar o mouse
  }
}

@media screen and (max-width: 1023px) {
  .container {
      max-width: 80%;
  }

  .products {
      grid-template-columns: repeat(2, 48.5%);
      column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
      display: block;
  }

  .product-item  {
      margin-bottom: 32px;
  }
}

footer {
  text-align: center;
  padding: 24px 0;
  background-color: variaveis.$corPrincipal;
  color: variaveis.$corColor;
}


