// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corPrincipal: #182C61;
$corSecundaria: #3498db;
$corBgBody: #f5f6fa;
$corColor: #fff;

// Breackpoints
$mobile: 767px;
$tablet: 1023px;
